{%- assign type = include.type | default: "info" -%}
{%- case type -%}
  {%- when "tip" -%}{%- assign default_label = "Tip" -%}
  {%- when "warn" -%}{%- assign default_label = "Warn" -%}
  {%- when "danger" -%}{%- assign default_label = "Danger" -%}
  {%- else -%}{%- assign default_label = "Note" -%}
{%- endcase -%}
{%- assign title = include.title | default: default_label -%}

<div class="ia-callout ia-callout--{{ type }}">
  <div class="ia-callout__title">
    <span>{{ title }}</span>
  </div>
  <div class="ia-callout__body">
    {{ include.content | markdownify }}
  </div>
</div>
